h1 {
  font-family: "Lucida Console", "Courier New", monospace;
}


.testimonialContainer {
  display: flex;
  position: relative;
  align-items: center;

}

#sliding {
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 320px); */
  justify-content: flex-start;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  scroll-behavior: smooth;
}

.cardContainer {
  display: inline-block;
  padding: 0.5rem;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 280px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 20px;
  height: 300px;
  overflow: hidden;
  background-color: var(--background-secondary);
  border-radius: 20px;
}

.nameContainer {
  font-size: 20px;
  margin: 20px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 700;
}

.tripContainer {
  font-size: 11px;
  margin: 20px;
  margin-top: 3px;
  margin-left: 10px;
  font-style: italic;
}

.ArrowCard {
  cursor: pointer;
  opacity: 0.5;
}

.ArrowCard:hover {
  opacity: 1;
}

.carouselImage {
  height: 50px;
  margin: 0px 10px 0px;
  border-color:darkgreen;
  border-width:1px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.slidingPhotos {
  overflow-x: hidden;
  justify-content: flex-start;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  scroll-behavior: smooth;
  width: 100%;
}
.testimonialTextContainer {
  height: 52%;

  margin-left: 10.5px;
}
.cardContainer {
  display: flex;
  position: relative;
  align-items: center;
}

.bodyDiv {
  width: 80%;
  height: 105%;
}
.testimonialHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -30px;
  margin-left: 20px;
}

#expanded-image-gallery {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
 }

 #expanded-image-container {
  position: fixed;
  margin: 40px auto;
  width: 90%;
  height: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 }

 #close-expanded {
  color: white;
  position: relative;
  display: flex;
  justify-content: right;
  margin: 0 0 15px 0;
 }

 #expanded-main-image {
  margin: 40px auto;
  vertical-align: middle;
  width: 90%;
  max-height: 92%;
  object-fit: contain;
  cursor: zoom-in;
 }

 #zoomed-main {
  overflow: hidden;
  vertical-align: middle;
  margin: 40px auto;
  width: 90%;
  max-height: 90%;
  cursor: zoom-out;
  background-repeat: no-repeat;
 }

 #zoomed-main-image:hover {
  opacity: 0;
 }

 #zoomed-main-image {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
 }

 #expanded-thumbnail-view {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 5%;
  height: fit-content(20em);
 }

 #expanded-thumbnail-view i {
  color: white;
  margin: 8px;
 }

 .expanded-thumbnail-shadow {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 3px;
  padding: 1.5px;
 }

 .expanded-thumbnail-shadow i {
  color: white;
 }