body {
  background: #D6E880;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 10;
  animation-name: slidein;
  animation-duration: 0.5s;
}
@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%;
  }
  to {
    margin-bottom: 0%;
    width: 100%;
  }
}
.modal-content {
  border-radius: 1rem;
  background-color: #F0EAD2;
  height: fit-content;
  width: 75%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  gap: 10px;
}
.error {
  font-size: 18px;
  color: red
}
.modal-header {
  font-size: 28px
}
.modal-body {
  padding: 10px;
  font-size: 18px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 0 2rem 0 2rem;
}
.modal-footer {
  display: flex;
  justify-content: space-around;
}
.modal-button {

}
.modal-segment {
  margin: 10px 0 0 0;
}