.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  width: 40%;
  border-radius: 20px;
  background-color: #D6E880;
  padding: 10px;
  padding-bottom: 100px;
  text-align: center;
  position: relative;
}

div.modalContent {
  margin: 10px;
}

div.modalContent input {
  margin: 10px 0;
  border: none;
  width: 95%;
}

div.modalContent input.checkbox {
  width: min-content;
  margin-right: 5px;
}

div.modalContent img {
  position: absolute;
  width: 100%; /* width needs to match modalContent width amt */
  bottom: 0;
  left: 0;
}

.form {
  margin: auto;
  background-color: #F0EAD2;
  width: 50%;
  padding: 20px;
  z-index: 1000;
  position: relative;
  filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.25));
}

.modalBody {
  width: 100%;
  margin: auto;
  text-align: left;
}

div.form button {
  background-color: #AACD4F;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin: 8px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

div.form button:hover {
  background-color: #D6E880;
}

.modalFooter > * {
  margin: 5px;
}

div h3 {
  margin-top: 0;
}

.warning {
  color: red;
}

#pwdGuide {
  margin: 0;
}